@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: Arial, sans-serif;
  }
  
  form {
    max-width: 400px;
    margin: auto;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  p {
    color: rgb(24, 23, 23)27, 26, 26);
    font-size : 0.875em;
  }